@import '~bulma';

:root {
    --light-panel-bg: #f8f9fa;
    --light-bg: #f8f9fa;
    --light-text: #212529;
    --light-link: #0a3046;
    --light-box-bg: #6ea8ff;
    --light-hover: #05456a;
    --light-active: #f8f9fa;

    --dark-panel-bg: #0a3046;
    --dark-bg: #343a40;
    --dark-text: #f8f9fa;
    --dark-link: #6ea8ff;
    --dark-box-bg: #05456a;
    --dark-hover: #6ea8ff;
    --dark-active: #f8f9fa;
}

// Estilos padrão para o modo claro
.main-container {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.box, .display {
    color: var(--light-text);
}

.box {
    background-color: var(--light-box-bg);
}

.list {
    padding: 1.25rem;
}

.panel-heading {
    color: var(--light-text);
    background-color: var(--light-panel-bg);
}

.link {
    color: var(--light-link);
}

.link:hover {
    color: var(--light-hover);
}

.link.router-link-active {
    color: var(--light-active);
}

// Estilos para o modo escuro
[data-theme="dark"] {
    .main-container {
        background-color: var(--dark-bg);
        color: var(--dark-text);
    }

    .panel-heading {
        color: var(--dark-text);
        background-color: var(--dark-panel-bg);
    }

    .box, .display {
        color: var(--dark-text);
    }

    .box {
        background-color: var(--dark-box-bg);
    }

    .link {
        color: var(--dark-link);
    }

    .link:hover {
        color: var(--dark-hover);
    }

    .link.router-link-active {
        color: var(--dark-active);
    }
}
